
.contact-pic {
    height: 100px;
    width: 100px;
}

.contact-item {
    // background-color: ;
    border-color: blue;
    border-width: 2px;
    color: blue;
    padding: 1rem;
}

.input-text {
    margin: 1rem;
}